@media only screen and (min-device-width : 320px) and (max-device-width : 600px) {

    .boton-contenedor {
        display: inline-block;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border-radius: 3.81vh;
        border: none;
        margin: 0.61vh;
        cursor: pointer;
        box-shadow: 0.15vh 0.61vh 0.15vh 0.30vh white;
    }

    .fila .boton-contenedor, .fila-3 .boton-contenedor {
        display: inline-block;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border-radius: 3.81vh;
        border: none;
        margin: 0.61vh;
        cursor: pointer;
        width: 25vw;
        height: 8vh;
        box-shadow: 0.15vh 0.61vh 0.15vh 0.30vh white;
    }

    #boton1 .fila, #boton2 .fila, #boton3 .fila {
        display: inline-block;
        align-items: flex-start;
    }

    #boton4 .fila, #boton5 .fila, #boton6 .fila {
        display: inline-block;
        align-items: flex-start;
    }

    .fila-2 .boton-contenedor {
        display: inline-block;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border-radius: 3.81vh;
        border: none;
        margin: 0.61vh;
        cursor: pointer;
        width: 25vw;
        height: 8vh;
        box-shadow: 0.15vh 0.61vh 0.15vh 0.30vh #7FBDDE;
    }

    
    .boton-con-click:focus {
        box-shadow: 0.30vh 0.30vh 0.30vh 0.30vh black;
        transform: translateY(1.52vh);
        background-color: transparent;
    }
}