@media only screen and (min-device-width : 250px) and (max-device-width : 830px) {

  .boton-contenedor {
    display: inline-block;
    /* Si esta en block no se puede utilizar justify-content ni align-items*/
    background-color: transparent;
    border-radius: 3.81vh;
    margin: 0.61vh;
  }

  .fila .boton-contenedor, .fila-3 .boton-contenedor {
    width: 27vw;
    height: 8vh;
    box-shadow: 0.15vh 0.61vw 0.15vh 0.30vw white;
  }

  .fila-2 .boton-contenedor {
    width: 27vw;
    height: 8vh;
    box-shadow: 0.15vh 0.61vw 0.15vh 0.30vw #7FBDDE;
  }


  .boton-con-click:focus {
    border: none;
    box-shadow: 0.30vh 0.30vh 0.30vh 0.30vh black;
    transform: translateY(1.52vh);
  }
}