* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* Como se van a comportar las propiedades de ancho y alto */
}

html, body {
  background-image: url(./imagenes/cesped.jpg); /* Imagen de fondo del cesped */
  background-size: cover; /* Tamaño de la imagen que cubre el contenedor sin deformar la imagen */
  background-position: center; /* Posicion respecto al contenedor */
  background-repeat: no-repeat; /* No se repite la imagen dentro del contenedor */
  background-attachment: fixed; /* La imagen de cesped se va a desplazar en todo momento para no dejar huecos en blanco */
}

.App {
  height: 100vh;
  font-family: 'Press Start 2P', cursive;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  color: rgb(215, 230, 7);
  font-weight: bold;
  margin: 3.04vh 0;
  font-size: 6vh;
}

.contenedor-copa-botonera-escudo {
  display: inline-flex;
}

.contenedor-copa-del-mundo {
  display: flex;
  height: 72vh;
  padding-right: 1.52vh;
  cursor: pointer;
}

.contenedor-logo-afa {
  display: flex;
  height: 62vh;
  padding-left: 1.52vh;
  cursor: pointer;
}



.contenedor-botonera {
  border-radius: 3.04vh; /* Borde para hacer circular el contenedor */
  background-image: url(./imagenes/bandera-argentina.webp); /* Imagen de la bandera Argentina */
  background-size: cover; /* Tamaño de la imagen que cubre el contenedor sin deformar la imagen */
  background-position: center; /* Posicion respecto al contenedor */
  background-repeat: no-repeat; /* No se repite la imagen dentro del contenedor */
  border: 1.52vh solid white; /* Borde del contenedor */
}

button {
  width: 30.44vh;
  height: 7.61vh;
  overflow: hidden;
}

button img {
  width: 100%;
  height: 100%;
}

.fila, .fila-3 {
  position: relative;
  margin: 0.61vh;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25vh;
}

.fila-2 {
  position: relative;
  margin: 0.61vh;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25vh;
}