/* Para iPhone 5 o superior */
@media only screen
  and (min-device-width : 250px)
  and (max-device-width : 830px) {
    
    *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* Como se van a comportar las propiedades de ancho y alto */
  }
  
  html, body {
    background-image: url(./imagenes/cesped.jpg); /* Imagen de fondo del cesped */
    background-size: cover; /* Tamaño de la imagen que cubre el contenedor sin deformar la imagen */
    background-position: center; /* Posicion respecto al contenedor */
    background-repeat: no-repeat; /* No se repite la imagen dentro del contenedor */
    background-attachment: fixed; /* La imagen de cesped se va a desplazar en todo momento para no dejar huecos en blanco */
    overflow-x: hidden;
  }
  
  .App {
    height: 100vh;
    font-family: 'Press Start 2P', cursive;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  h1 {
    color: rgb(215, 230, 7);
    font-weight: bold;
    margin: 3.04vh 0;
    font-size: 4vh;
  }

  .contenedor-logo-no-movil, .contenedor-copa-no-movil{
    display: none;
  }

  .contenedor-botonera{
    display: block;
    width: 100vw;
    border-radius: 3.04vh; /* Borde para hacer circular el contenedor */
    background-image: url(./imagenes/bandera-argentina.webp); /* Imagen de la bandera Argentina */
    background-size: cover; /* Tamaño de la imagen que cubre el contenedor sin deformar la imagen */
    background-position: center; /* Posicion respecto al contenedor */
    background-repeat: no-repeat; /* No se repite la imagen dentro del contenedor */
    border: 1.52vh solid white; /* Borde del contenedor */
  }

  
  .fila, .fila-3 {
    position: relative;
    margin: 0.61vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height: 25vh;
    justify-content: space-evenly;
  }
  
  .fila-2 {
    position: relative;
    margin: 0.61vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height: 25vh;
    justify-content: space-evenly;
  }

  .contenedor-copa-movil, .contenedor-logo-movil, .contenedor-copa-logo  {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  .contenedor-copa-logo{
    padding-top: 7vh;
  }

  img.copa-del-mundo{
    height: 60vh;
    width: 40vw;
  }

  img.logo-afa {
    display: block;
    text-align: left;
    height: 55vh;
    width: 55vw;
  }

  
  footer {
    color: rgb(215, 230, 7);
    font-weight: bold;
    font-size: 3vh;
  }
}